{
  "name": "",
  "profession": "",
  "profile_pic": "./assets/profile.jpg",
  "contacts": {
    "email": "",
    "telephone": "",
    "website": ""
  },
  "experiences": [
    {
      "title": "",
      "type": "",
      "company": "",
      "from": "",
      "to": "",
      "summary": "."
    }
  ]
}